
.formexFieldImage_upload img {
    float:left;
    margin-right: 5px;
    border: 2px solid #222;
    cursor: pointer;
}
.formexFieldImage_upload .fieldImageW {
    display: table-cell;
    padding: 2px;
}
.formexFieldImage_upload .fieldImageW span {
    float: left;
    width: 4px;
    padding: 4px;
    cursor: pointer;
    background-color: #585858;
    background-repeat: no-repeat;
    color: #999;
}
.formexFieldImage_upload .fieldImageW span.sel {
    width: auto;
    background-color: #333;
    color: #eee;
    cursor: default;
}

.formexFieldImage_upload .fieldImageW span.liblink input {
    width: 25em;
    margin: 1px;
    border: 1px solid #555;
    color: #555;
    background: #e0e0e0;
}
.formexFieldImage_upload .fieldImageW span.liblink {
    min-width: 20px;
    padding-top: 4px;
}
.formexFieldImage_upload .fieldImageW span.liblink a {
    float: right;
    width: 16px;
    height: 16px;
    background-image: url(images/media_library.gif);
    text-indent: 40px;
    overflow: hidden;
    margin: 1px;
}
.formexFieldImage_upload .fieldImageW span.browselink {
    background-image: url(images/browse_img.gif);
    background-position: 4px center;
    padding-left: 24px;
}
.fieldImageHint {
    clear: both;
    height: 1.8em;
}

.formexFieldMedialib input {
    border: 1px solid #555;
    color: #555;
    width: 20em;
    margin: 1px;
    padding: 3px;
    background: #e0e0e0;
}
.formexFieldMedialib a {
    float: right;
    width: 16px;
    height: 16px;
    background-image: url(images/media_library.gif);
    text-indent: 40px;
    overflow: hidden;
    margin: 3px;
}
.formexFieldMedialib a span {
    display: none;
}

#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(../img/macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=55);
	-moz-opacity: 0.55;
	opacity: 0.55;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	background: #fff;
	z-index: 102;
	color:#000000;
	display:none;
	text-align:left;
	top:50%;
	left:50%;
}
* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_window.TB_overlayFFHack {
    position: absolute;
}

#TB_window img#TB_Image {
	display:block;
}
#TB_closeWindow {
    position: absolute;
    bottom: 4px;
    left: 4px;
    height: 10px;
    width: 9px;
    font-size: 1px;
    text-indent: -2000px;
    cursor: pointer;
    background-image: url(../img/ico.window_close.gif);
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_ImageOff {
    display: block;
    padding: 5px;




